@import '../ProfileCard/ProfileCard.scss';

.contactTitle{
    @include title();
    text-align: center;
    margin-top: -2rem;
}

.contactForm{
    text-align: center;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 1px;
    background-color: brown;
}

.userInput{
    width: 35%;
}