.contactTitle {
  font-family: "Noto Sansa KR", sans-serif;
  color: #fef9f8;
  margin: 0;
  text-align: center;
  margin-top: -2rem;
}

.contactForm {
  text-align: center;
  width: 40%;
  height: 19rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #fef9f8;
}

.userInput {
  width: 35%;
}

.messageSection {
  margin-bottom: 0.5rem;
}