@import '../ProfileCard/ProfileCard.scss';
@import '../ContactInfo/ContactInfo.scss';


.projectsTitle{
    text-align: center;
    @include title;
}

.projectSection{
    width: 100%;
    display: flow-root;
    // margin-bottom: 10%;
    
    .projectCard{
    width: 30%;
    margin: 13px auto;
    float: left;
    margin-left: 13%;
    height: 23rem;
    @include glassEffect();

        .projectTitle{
        text-align: center;
        margin: 0;
        color: #2B4570;
    } 
        .projectImg{
        width: 100%;
        max-height: 50%;
    }
        .projectDesc{
        margin-top: -4px;
        margin-bottom: -2px;
        min-height: 21%;
        @include secondaryFont();
    }

}

.projectLinks{
    @include contactBtns();
    text-decoration: none;
}

.rep{
border-color: black;
color: black;
font-weight: 700;
}

.rep:hover{
background-color: black;
color: white;
}

.app{
border-color: #2B4570;
color: #2B4570;
font-weight: 700;
}

.app:hover{
background-color: #2B4570;
color: white;
}

}