@import '../ProfileCard/ProfileCard.scss';

.contactBtns {
    display: flex;
    justify-content: center;
    align-self: center;
    float: left;

}

.contactBtnHome {
@include glassEffect();
height: 150px;
display: flex;
justify-content: center;
}