@import '../ProfileCard/ProfileCard.scss';

@mixin contactBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    border: solid 2px;
    background: transparent;
    width: 6rem;
    height: 2rem;
    border-radius: .25rem;
    cursor: pointer;
    transition: 0.3s;
    margin: 1rem;
    font-size: 15px;
}

.contactBtns {
    display: flex;
    justify-content: center;
    align-self: center;
    float: left;
}

.contactBtnHome {
@include glassEffect();
height: 150px;
display: flex;
justify-content: center;
width: 72%;
margin: auto;
}

.linkedBtn {
    @include contactBtns();
    border-color: #0e76a8;
    color: #0e76a8;
    font-weight: 700;
    // border: solid 2px;
    // background: transparent;
    // width: 5.5rem;
    // height: 3rem;
    // border-radius: .25rem;
    // cursor: pointer;
    // transition: 0.3s;
}

.linkedBtn:hover{
    background-color: #0e76a8;
    color: white;
}

.liIcon,
.ghIcon,
.pdfIcon{
    font-size: 17px;
    margin-right: 1px;
}

.gitBtn{
@include contactBtns();
border-color: black;
color: black;
font-weight: 700;
}

.gitBtn:hover{
background-color: black;
color: white;
}

.resumeBtn{
    @include contactBtns();
border-color: #1FA463;
color: #1FA463;
font-weight: 700;
}

.resumeBtn:hover{
    background-color: #1FA463;
    color: white;
}


