.social {
  text-align: center;
  margin-top: 10rem;
}

.social .iconsList {
  font-size: 18px;
  text-decoration: none;
  padding: 5px;
  margin: 15px;
}

.social .ghIcon,
.social .liIcon {
  font-size: 30px;
}

.social .ghIcon {
  color: black;
  background-color: white;
}

.social .ghIcon :hover {
  transform: scale(1.2);
}

.social .liIcon {
  color: #0e76a8;
}

.contactBtns {
  display: flex;
  justify-content: center;
  align-self: center;
  float: left;
}

.contactBtnHome {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #fef9f8;
  height: 150px;
  display: flex;
  justify-content: center;
  width: 72%;
  margin: auto;
}

.linkedBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  border: solid 2px;
  background: transparent;
  width: 6rem;
  height: 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
  margin: 1rem;
  font-size: 15px;
  border-color: #0e76a8;
  color: #0e76a8;
  font-weight: 700;
}

.linkedBtn:hover {
  background-color: #0e76a8;
  color: white;
}

.liIcon,
.ghIcon,
.pdfIcon {
  font-size: 17px;
  margin-right: 1px;
}

.gitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  border: solid 2px;
  background: transparent;
  width: 6rem;
  height: 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
  margin: 1rem;
  font-size: 15px;
  border-color: black;
  color: black;
  font-weight: 700;
}

.gitBtn:hover {
  background-color: black;
  color: white;
}

.resumeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  border: solid 2px;
  background: transparent;
  width: 6rem;
  height: 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
  margin: 1rem;
  font-size: 15px;
  border-color: #1FA463;
  color: #1FA463;
  font-weight: 700;
}

.resumeBtn:hover {
  background-color: #1FA463;
  color: white;
}