.footer {
  clear: both;
  overflow: auto;
  bottom: 0;
  height: 55px;
  width: 100%;
  text-align: center;
  background-color: #9590A8;
  padding-top: 15px;
  font-family: "Noto Sansa KR", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #2B4570;
}