@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;900&display=swap');
@import '../ProfileCard/ProfileCard.scss';

.navbar{
    background: #F7FFF7;
    overflow: hidden;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.navItems{
    margin: 0;
    padding: 16px;

}

    .navItem{
    text-decoration: none;
    padding: 14px;
    @include secondaryFont
    }
    
    .navItem:hover{
background-color: #9590A8;
color: #2B4570;

    }
