@import '../ProfileCard/ProfileCard.scss';

.home{
    height: 100vh;
    background-image: linear-gradient(#9590A8,#2B4570);
    object-fit: cover;
    margin: 0;
    justify-content: center;
    display: flex;

    .intro{
    color: #F7FFF7;
        position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}

}

