@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background: #2B4570;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.aboutTitle {
  text-align: center;
  font-family: "Noto Sansa KR", sans-serif;
  color: #fef9f8;
  margin: 0;
}

/* .aboutMe {
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background: #fef9f8;
  width: 90%;
  margin: auto;
  background-image: repeating-linear-gradient(-45deg, #9590A8, #fef9f8 2.25px, 20rem, transparent 1px, transparent 6px);
} */

.profile {
  float: left;
}

.profileImg {
  margin-top: 10rem;
  margin-right: 20rem;
  float: right;
  max-width: 17rem;
  max-height: 20rem;
  border-radius: 5px;
  background-color: white;
  box-shadow: 5px 10px #2B4570;
}

.aboutMePar {
  max-height: 25rem;
  max-width: 10rem;
  min-width: 22rem;
  margin-left: 10rem;
  margin-top: 8rem;
  text-align: left;
  border-radius: 5px;
  background-color: #fef9f8;
  border: #2B4570 double 6px;
  padding: 6px;
  font-family: "Noto Sansa KR", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #2B4570;
}

@media only screen and (max-width: 640px) {
  .aboutMe {
    background: none;
  }

  .profileImg {
    margin-top: 1rem;
    margin-right: 2.5rem;
  }

  .aboutMePar {
    margin: 2rem 0 0 0;
  }

}