@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;900&display=swap');

@mixin mainBackground{ 
    background: #2B4570;
    height: fit-content;}

@mixin title {
    font-family: 'Noto Sansa KR', sans-serif;
    color: #fef9f8;
    margin: 0;
}

@mixin secondaryFont {
    font-family: 'Noto Sansa KR', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #2B4570;
}

@mixin glassEffect {
    box-shadow: 0 0 1rem 0 rgba(0,0,0,.2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .2);
}

.body{
   @include mainBackground;
}

.aboutTitle{
    text-align: center;
    @include title()
}

.aboutMe{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
background: #fef9f8;
width: 90%;
margin: auto;
}

.profile{
float: left;
}

.profileImg {
width: 17rem;
border-radius: 5px;
background-color: white;
}

.aboutMePar{
    width: 30%;
    margin: 1rem;
    margin-right: 10%;
    text-align: left;
    border-radius: 5px;
    background-color: #fef9f8;
    border:#2B4570 double 6px;
    padding: 6px;
    @include secondaryFont();
}

.social{
    text-align: center;
    margin-top: 10rem;

.iconsList{
    font-size: 18px;
    text-decoration: none;
    padding: 5px;
    margin: 15px;

}

.ghIcon, .liIcon{
    font-size: 30px;
    
}

.ghIcon{
    color: black;
    background-color: white;
    :hover{
        transform: scale(1.2);
    }
}

.liIcon{
    color: #0e76a8;
}
}
